<h2>Edit Comment:</h2>
<%= form_with model: @comment do |form| %>
  <p>
    <%= form.label :User_Id %><br>
    <%= form.text_field :user_id %>
    <% @comment.errors.full_messages_for(:user_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>
  <p>
    <%= form.label :Comment %><br>
    <%= form.text_area :body %>
    <% @comment.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>