<h2>Edit User</h2>

<%= form_with model: @user do |form| %>
  <div>
    <strong><%= form.label :Enter_Username %></strong>
    <%= form.text_field :name %>
    <% @user.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <br>
  <div>
    <strong><%= form.label :Enter_Email %></strong>
    <%= form.text_field :email %>
    <% @user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>

<br><br>
<button>
  <%= link_to "View All Users", users_path %>
</button>